# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
META-INF/** text eol=lf
*.prop text eol=lf
*.sh text eol=lf
*.md text eol=lf
update-binary text eol=lf
update-script text eol=lf

# Denote all files that are truly binary and should not be modified.
*.so binary
*.dex binary
